
@{
    ViewBag.Title = "Hotel";
}

@Html.Partial("_HotelMenu")
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="right-side">
        <section class="content-header">
            <h1>Horizontal menu</h1>
            
        </section>
    </aside>
</div>